<!DOCTYPE html>
<html>
<head>
  <title>LINKeep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">

		<div id="header">
			<%= link_to(image_tag("linkeepLogoSmall.png"), :action => 'index', :id =>@index) %>
			<div id="menu">
				<%= link_to 'Home', links_path %>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<%= link_to 'Create New Link', new_link_path %>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<%= link_to 'Help', new_link_path %>
				&nbsp;&nbsp;|&nbsp;&nbsp;
				<%= link_to 'Contact', new_link_path %>
			</div>
		</div>

	
		<div id="content">
			<%= yield %>
		</div>

		<div class="push"></div>		
	</div>
	
	<div id="footer">
		Kari Daggs&nbsp;&nbsp;|&nbsp;&nbsp;Ruby on Rails&nbsp;&nbsp;|&nbsp;&nbsp;Madison College Fall 2012
	</div>

</body>
</html>
